*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}


#main{
    padding: 30px;
    background-color:rgb(143 179 215);
    height: 550px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    gap: 20px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

form{
    width: 80%;
    display: flex;
    align-items:space-between;
    gap: 20px;
    flex-direction: column;
}

label{
    width: 30%;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}


button{
    padding: 7px 7px;
    width: 100px;
    background-color: rgb(4, 5, 2);
    color: white;
    border-radius: 1em;
    

}
button:hover{
    color: rgb(197, 215, 155);
}
textarea{
    max-width: 152px;
    max-height: 50px;
    padding: 5px;
}
input{
    padding: 5px;
}
select{
    padding: 5px;
    width: 170px;
}
/* #gameoption{
    color: aqua;
} */

#name{
    border-radius: 2em;
    border: 2px solid black;
    
}
#password{
    border-radius: 2em;
    border: 2px solid black;
    
}
#address{
    border-radius: 1em;
    border: 2px solid black;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#texts{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}